.content {
    display: flex;
}

img {
    width: 50vw;
    display: block;
    height: 110vh;
}

.bottom {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    width: 695px;
    height: 143px;
    left: 62px;
    top: 853px;
}

.body {
    display: flex;
    background: black;
    color: white;
    width: 58vw;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.body .heading {
    color: #72DB73;
    font-weight: 400;
    font-size: 67px;
}

.heading {
    font-family: "Single Day", cursive;
}

form input {
    margin: 12px auto;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    background-color: #292929;
    border-radius: 6px;
    color: white;
    outline: none;
    transition: border 0.3s;
    outline: none;
}

form input:focus {
    border-color: #72DB73;
}

form .error {
    color: red;
    font-size: 14px;
    width: 90%;
    max-width: 400px;
    margin: -10px auto 8px;
    text-align: left;
    margin-top: 2px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    width: 90%;
    max-width: 400px;
    margin: 12px auto;
    text-align: left;
}

form label input[type="checkbox"] {
    margin: 0;
    width: 24px;
    height: 24px;
}

form button {
    width: 90%;
    max-width: 400px;
    margin: 24px auto;
    border-radius: 24px;
    padding: 10px 12px;
    color: white;
    background-color: #72db73;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #5cb85c;
}

.footer p {
    font-size: 14px;
    color: #7c7c7c;
    width: 90%;
    max-width: 400px;
    margin: 8px auto;
    text-align: left;
    line-height: 1.2rem;
}

.footer span {
    color: #72db73;
    cursor: pointer;
}